
body {
  background-image:
  url("https://www.maxpixel.net/static/photo/2x/Effect-Light-Black-Background-Weave-Blue-Braid-18088.jpg");
  text-align: center;
  line-height: 1.5;
  padding: 30px 20px;
  //*background-image: url("assets/staticBG.jpg");*/
}

p {
  font-size: 42px;
  color: yellow;
}

h1
{
  color: yellow;
}

h2
{
  color: yellow;
}

h3
{
  color: yellow;
}

}

.white-box {
  background-color: white;
  width: 400px;
  padding: 50px;
  border: 5px solid black;
  margin: auto;
}
